@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #fff;
}

p{
  color: red;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
   /* position: -webkit-sticky;  */
  background-color: #eee;
}

.nav-item {
  font-weight: 600;
  font-size: 18px;
  margin: 0 8px;
}

/* Contact.js */
form {
 margin-top: 20px;
  display: flex;
  width: 250px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  
}

form h1 {
  margin-bottom: 30px;
  text-align: center;
}

form > input, textarea {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

form > textarea {
  height: 150px;
  max-width: 500px;
  min-height: 100px;
}

form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

form > button {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

form > button:hover {
  background-color: rgb(0, 0, 196);
}

@media screen and (min-width: 700px) {
  form {
    width: 500px;
  }
}

/* Table */
.table-wrap {
  overflow: auto;
}

/* .table-wrap::-webkit-scrollbar {
  height: 8px;
}

.table-wrap::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 12px;
} */

table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: unset;
}

td {
  border-bottom: 1px solid #eee;
  max-width: fit-content;
}

th, td {
  padding: 8px 14px;
}

td:nth-child(4) {
  width: 600px;
}